@model OrderListViewModel

@{
    ViewData["Title"] = "All orders";
}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Completed orders</h3>
                </div>
                @if (@Model.Orders.Any())
                {
                    @foreach (var order in @Model.Orders)
                    {
                        <h3 class="fw-normal mb-1 text-black">@order.CreatedOn - @order.Address</h3>

                        @*<div class="card rounded-3 mb-4">*@
                            @foreach (var computer in order.Computers)
                            {
                                <div class="card rounded-3 mb-4">
                                    <div class="card-body p-4">
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="@computer.ImageUrl"
                                         class="img-fluid rounded-3" alt="Cotton T-shirt">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <p class="lead fw-normal mb-2">@computer.DisplayName</p>
                                                <p class="text-muted">@computer.GPUModel, @computer.CPUModel, @computer.StorageModel</p>
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h5 class="mb-0">$@computer.Price.ToString("f2")</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <hr/>
                        @*</div>*@
                    }
                }
                else
                {
                    <h2 class="text-center">No orders yet</h2>
                }
            </div>
        </div>
    </div>
</section>