@model CategoryEditInputModel

@{
    ViewData["Title"] = "Edit category";
}

<div class="form-body h-100">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>@ViewData["Title"]</h3>
                    <p>Fill in the data below.</p>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="Create" method="post" class="mb-3 mt-md-4" enctype="multipart/form-data">
                        <input asp-for="@Model.Id" type="hidden" />
                        <div class="mb-3">
                            <label asp-for="@Model.Name" class="form-label"></label>
                            <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input class="btn btn-primary" type="submit" value="Create" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
