@model CartListViewModel

@{
    ViewData["Title"] = "Cart";
}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div>
                @if (@Model.Computers.Any())
                {
                    @foreach (var computer in @Model.Computers)
                    {
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="@computer.ImageUrl"
                                     class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">@computer.DisplayName</p>
                                        <p class="text-muted">@computer.GPUModel, @computer.CPUModel, @computer.StorageModel</p>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">@computer.Price.ToString("f2")</h5>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a asp-area="" asp-action="Delete" asp-route-id="@computer.Id" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="card mb-3">
                        <span class="card-title pt-3 ps-3"><b>Enter your address:</b></span>
                        @*<div class="card-title"></div>*@
                        <div class="p-2">
                            <input class="p-1 w-100" />
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body text-center">
                            <span class=" me-5"><b>Total Price: @Model.TotalPrice</b></span>
                            <button type="button" class="btn btn-warning btn-block btn-lg">Proceed with order</button>
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="text-center">The cart is empty</h2>
                }
            </div>
        </div>
    </div>
</section>