@model ComputersListViewModel

@{
    ViewData["Title"] = "All computers";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr />

<div class="row">
    @foreach (var computer in Model.Computers)
    {
        <div class="col-md-3 ">
            <div class="card mb-3">
                <h3 class="card-header mb-3">@computer.DisplayName</h3>
                <img src="@computer.ImageUrl" alt="Computer Image" width="100%" height="auto">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@computer.CPUModel</li>
                    <li class="list-group-item">@computer.GPUModel</li>
                    <li class="list-group-item">@computer.StorageModel</li>
                </ul>
                <div class="card-body text-center">
                    <div class="d-flex justify-content-evenly align-items-center">
                        <span class="align-middle"><b>Price:</b> $@computer.Price.ToString("f2")</span>
                        <a asp-action="Details" asp-route-id="@computer.Id" class="btn btn-primary text-center">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<hr />

<partial name="_PagingPartial" model="@Model" />