@using Epsilon.Common
@model ComputerDetailsViewModel

@{
    ViewData["Title"] = "Details";
    ViewData["Controller"] = "Computer";
    ViewData["Id"] = Model.Id;
}

@if (User.IsInRole(GlobalConstants.AdministratorRoleName) || User.IsInRole(GlobalConstants.ModeratorRoleName))
{
    <a asp-area="Administration" asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-warning btn-lg">Edit <i class="fa-solid fa-pen-to-square"></i></a>
    <button class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete <i class="fa-solid fa-trash"></i>
    </button>
}

<partial name="_DeleteModalPartial" view-data="ViewData" />

<div class="container px-4 px-lg-5 my-5 d-flex justify-content-between">
    <div id="carouselExampleControls" class="carousel carousel-dark slide col-md-6">
        <div class="carousel-inner h-100 d-flex align-items-center">
            @foreach (var imageUrl in Model.ImageUrls)
            {
                <div class="carousel-item @(imageUrl == Model.ImageUrls.FirstOrDefault() ? "active" : string.Empty)">
                    <img src="@imageUrl" class="d-block mb-5 mb-md-0 w-100" data-bs-interval="false" alt="...">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    @*<div class="row gx-4 gx-lg-5 align-items-center">*@
    <div class="col-md-5 align-items-center">
        <div class="small mb-1">
            @Model.Manufacturer: @Model.Model
            <span class="badge bg-info">@Model.Category</span>
        </div>
        <h1 class="display-5 fw-bolder">@Model.DisplayName</h1>
        <div class="fs-5 mb-5">
            @*<span class="text-decoration-line-through">$45.00</span>*@
            <span>$@Model.Price.ToString("f2")</span>
        </div>
        <div class="mb-5">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @Model.CPU.Model
                    <span class="badge bg-primary rounded-pill">CPU</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @Model.GPU.Model
                    <span class="badge bg-primary rounded-pill">GPU</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @Model.Storage.Model
                    <span class="badge bg-primary rounded-pill">Storage</span>
                </li>
            </ul>
        </div>
        <div class="lead text-break mb-3">@Model.Description</div>
        @if (!(User.IsInRole(GlobalConstants.AdministratorRoleName) || User.IsInRole(GlobalConstants.ModeratorRoleName)))
        {
            <div class="d-flex">
                <a asp-area="" asp-controller="Cart" asp-action="AddComputer" asp-route-id="@Model.Id" class="btn btn-outline-dark flex-shrink-0">Add to cart</a>
            </div>
        }
    </div>
    @*</div>*@
</div>
@*</section>*@
<!-- Related items section-->
@*<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="@Model.ImageUrls.First()" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Special Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    
                    
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Sale Item</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
*@