@model ComputerEditInputModel

@{
    ViewData["Title"] = "Edit Computer";
}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>@ViewData["Title"]</h3>
                    <p>Fill in the data below.</p>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="Create" method="post" class="mb-3 mt-md-4" enctype="multipart/form-data">
                        <input type="hidden" value="@Model.Id" class="form-control" />
                        <div class="mb-3">
                            <label asp-for="@Model.Name" class="form-label"></label>
                            <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Model" class="form-label"></label>
                            <input asp-for="@Model.Model" class="form-control" aria-required="true" />
                            <span asp-validation-for="@Model.Model" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Price" class="form-label"></label>
                            <input asp-for="@Model.Price" class="form-control" aria-required="true" value="500.00" />
                            <span asp-validation-for="@Model.Price" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="@Model.Description" class="form-label"></label>
                            <textarea asp-for="@Model.Description" class="form-control" id="description-textarea" rows="3"></textarea>
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.CategoryId" class="form-label">Category</label>
                            <select asp-for="@Model.CategoryId" class="form-control">
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.ManufacturerId" class="form-label">Manufacturer</label>
                            <select asp-for="@Model.ManufacturerId" class="form-control">
                                @foreach (var manufacturer in Model.Manufacturers)
                                {
                                    <option value="@manufacturer.Id">@manufacturer.Name</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Images" class="form-label">Images</label>
                            <input asp-for="@Model.Images" class="form-control" aria-required="true" />
                            <span asp-validation-for="@Model.Images" class="text-danger"></span>
                        </div>
                        <div class="form-control mb-3">
                            <div class="mb-3">
                                <label asp-for="@Model.CPUs" class="form-label">CPU</label>
                                <select asp-for="@Model.CPUId" class="form-control">
                                    @foreach (var CPU in Model.CPUs)
                                    {
                                        <option value="@CPU.Id">@CPU.Model</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="@Model.GPUs" class="form-label">GPU</label>
                                <select asp-for="@Model.GPUId" class="form-control">
                                    @foreach (var GPU in Model.GPUs)
                                    {
                                        <option value="@GPU.Id">@GPU.Model</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="@Model.Storages" class="form-label">Storage</label>
                                <select asp-for="@Model.StorageId" class="form-control">
                                    @foreach (var storage in Model.Storages)
                                    {
                                        <option value="@storage.Id">@storage.Model</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="btn btn-primary" type="submit" value="Edit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
