@model PartListViewModel

@{
    ViewData["Title"] = "All parts";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />

<a asp-area="Administration" asp-controller="Manufacturer" asp-action="Create" class="btn btn-success mb-3"><i class="fa-solid fa-plus"></i> Create</a>

<table class="table table-dark table-striped table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Model</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Computers Count</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Last modified</th>
            <th scope="col">Is Deleted</th>
            <th scope="col">Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in @Model.Parts)
        {
            <tr class="align-middle">
                <td>@part.Type</td>
                <td>@part.Model</td>
                <td>@part.Manufacturer</td>
                <td>@part.ComputersCount</td>
                <td>@part.CreatedOn</td>
                <td>@(part.ModifiedOn == null ? "Not modified" : part.ModifiedOn)</td>
                <td>@part.IsDeleted</td>
                <td>
                    <div class="d-flex justify-content-evenly">
                        <a asp-area="Administration" asp-action="Edit" asp-route-id="@part.Id" class="btn btn-sm btn-warning">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <form asp-area="Administration" asp-action="Delete" asp-route-id="@part.Id">
                            <input type="hidden" value="@part.Id">
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>